job "whoami" {
  datacenters = ["{{ nomad_datacenter }}"]
  type        = "service"

  update {
    max_parallel      = 1
    health_check      = "checks"
    min_healthy_time  = "10s"
    healthy_deadline  = "3m"
    progress_deadline = "5m"
    auto_revert       = true
    auto_promote      = true
    canary            = 1
  }

  group "web" {
    count = 2

    network {
      port "http" {}
    }

    service {
      name = "whoami"
      port = "http"

      check {
        type     = "http"
        path     = "/"
        interval = "10s"
        timeout  = "2s"
      }

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.whoami.rule=Host(`{{ traefik_domain }}`) && PathPrefix(`/whoami`)",
        "traefik.http.routers.whoami.entrypoints=websecure",
        "traefik.http.routers.whoami.tls=true",
        "traefik.http.routers.whoami.tls.certresolver=le",
        "traefik.http.routers.whoami.middlewares=whoami-strip@consulcatalog",
        "traefik.http.middlewares.whoami-strip.stripprefix.prefixes=/whoami"
      ]
    }

    task "whoami" {
      driver = "docker"

      config {
        image = "traefik/whoami:v1.10"
        ports = ["http"]
      }

      resources {
        cpu    = 100
        memory = 64
      }
    }
  }
}
