job "traefik" {
  datacenters = ["{{ nomad_datacenter }}"]
  type        = "service"

  update {
    max_parallel      = 1
    health_check      = "checks"
    min_healthy_time  = "10s"
    healthy_deadline  = "5m"
    progress_deadline = "10m"
    auto_revert       = true
    auto_promote      = true
    canary            = 1
  }

  group "ingress" {
    count = 1

    constraint {
      attribute = "${node.class}"
      operator  = "="
      value     = "client"
    }

    network {
      mode = "host"

      port "http" {
        static = 80
      }

      port "https" {
        static = 443
      }
    }

    volume "acme" {
      type      = "host"
      source    = "traefik_acme"
      read_only = false
    }

    service {
      name = "traefik"
      port = "https"

      check {
        type     = "tcp"
        port     = "https"
        interval = "10s"
        timeout  = "2s"
      }

      tags = [
        "traefik.enable=true",
        "traefik.http.routers.dashboard.rule=Host(`{{ traefik_dashboard_host }}`)",
        "traefik.http.routers.dashboard.entrypoints=websecure",
        "traefik.http.routers.dashboard.tls=true",
{% if acme_enabled %}
        "traefik.http.routers.dashboard.tls.certresolver=le",
{% endif %}
        "traefik.http.routers.dashboard.service=api@internal",
        "traefik.http.routers.dashboard.middlewares=dashboard-auth",
        "traefik.http.middlewares.dashboard-auth.basicauth.users={{ dashboard_basic_auth_htpasswd }}"
      ]
    }

    task "traefik" {
      driver = "docker"

      volume_mount {
        volume      = "acme"
        destination = "/etc/traefik/acme"
        read_only   = false
      }

      env {
        CONSUL_HTTP_TOKEN = "{{ consul_bootstrap_token }}"
      }

      config {
        image        = "traefik:{{ traefik_version }}"
        network_mode = "host"

        args = [
          "--api.dashboard=true",
          "--entrypoints.web.address=:80",
          "--entrypoints.web.http.redirections.entrypoint.to=websecure",
          "--entrypoints.web.http.redirections.entrypoint.scheme=https",
          "--entrypoints.websecure.address=:443",
{% if acme_enabled %}
          "--certificatesresolvers.le.acme.email={{ acme_email }}",
          "--certificatesresolvers.le.acme.storage=/etc/traefik/acme/acme.json",
          "--certificatesresolvers.le.acme.httpchallenge=true",
          "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web",
{% if acme_caserver %}
          "--certificatesresolvers.le.acme.caserver={{ acme_caserver }}",
{% endif %}
{% endif %}
          "--providers.consulcatalog.endpoint.address=127.0.0.1:8500",
          "--providers.consulcatalog.endpoint.token={{ consul_bootstrap_token }}",
          "--providers.consulcatalog.exposedByDefault=false"
        ]
      }

      resources {
        cpu    = 300
        memory = 256
      }
    }
  }
}
